.text {
    text-align: center;
}

.content {
    /* display: flex; */
    /* justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; */

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    margin-left: 10em;
    margin-right: 10em;
}

