* {
  box-sizing: border-box;
  
}

h2{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

button {
  background-color: lightgrey;
  border-style:dotted;

}

button:hover{
  background-color: grey;
}

button:active{
  background-color: darkgray;
}